.git
.github
.pytest_cache
.venv
__pycache__
*.pyc
*.pyo
*.pyd
*.swp
*.log
.coverage
coverage-summary.json
htmlcov
.mypy_cache
.ruff_cache
node_modules
docs
tests
terraform-provider-sanmar
local.settings.json
